{% extends "base.html" %}
{% load tailwind_filters %}
{% load thumbnail %}

{% block title %} {{ user.username }} {% endblock %}

{% block body %}

<div class="flex justify-center items-center w-full">
    <div class="w-1/2 bg-white rounded shadow-2xl p-8 m-2">
        <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">Update Profile</h1>
        
        <div class="rounded-3xl overflow-hidden shadow-xl max-w-xs my-3">
  	        <img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
        
        <div class="flex justify-center -mt-8">
            {% thumbnail user.profile.image "130x130" crop="center" as im %}        
                <img src="{{ im.url }}" class="rounded-full border-solid border-white border-2 -mt-3">		
            {% endthumbnail %}
        </div>
        <div class="text-center px-3 pb-6 pt-2">
            <h3 class="text-gray-700 text-xl bold font-sans">{{ user.username }}</h3>
        </div>

        <form method="POST" action="" class="m-3" enctype="multipart/form-data">
        {% csrf_token %}
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        <div class="flex items-center justify-center">
            <div class="m-3"><a href="/">
                <button type="button" class="bg-white text-gray-800 font-bold rounded border-b-2 border-red-500 hover:border-red-600 hover:bg-red-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
                    <span class="mr-2">Close</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
                    </svg>
                </button>
                </a>
            </div>
        
            <div class="m-3">
                <button type="update" class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
                    <span class="mr-2">Update</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}