{% extends "base.html" %}
{% load tailwind_filters %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<p>{% blocktrans %}If you have not created an account yet, then please
<a class="font-bold text-blue-600" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>



<h1 class="text-bold text-2xl my-4">{% trans "Sign In" %}</h1>

<form class="login w-full max-w-xs bg-white flex flex-col py-5 px-8 mb-8 ml-8 rounded-lg shadow-lg" action="{% url 'account_login' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
{% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
  <button class="primaryAction bg-blue-500 hover:bg-blue-700 text-white font-bold rounded my-4 py-2 px-4" type="submit">{% trans "Sign In" %}</button>
  
  <a class="button secondaryAction text-blue-600 hover:text-blue-800 font-bold" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </a>
    </div>
  </form>
</div>
  
{% endblock %}